.title,
.links {
    display: flex;
    white-space: pre-wrap;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 100%;
    margin-bottom: auto;
}

body {
    background-color: #312561;
}

a {
    text-decoration: none;
    color: white;
}

div {
    max-width: auto;
}

.title {
    color: #C17400;
}

.line {
    animation-name: slideIn;
    animation-duration: 4s;
}

@keyframes slideIn {
    from {
        opacity: 0;
        offset-position: 0;
    }
    to {
        opacity: 1;
    }
}